* {
    background-color: black;

}

.ship {
    width: auto;
    height: auto;
    background-image: url("/images/space_hero.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}
